/* CSS declarations go here */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F7F5;
    padding-bottom: 30px;
}

h1 {
    text-align: center;
    border-bottom: solid 1px #CACBCD;
    padding-bottom: 10px;
}

td {
  padding: 0px 20px 5px 0px;
}

a:hover {
    cursor: pointer;
}

#inner {
    width: 70%;
    margin: 0 auto;
}

#networkStatusDiv, #accountDiv {
    display: inline-block;
    width: 49%;
}

#networkStatusDiv ul {
    list-style: none;
}

#networkStatusDiv li {
    margin-bottom: 3px;
}

.messageSpan {
    display: inline-block;
    margin-top: 10px;
}

.messageDiv {
    margin-top: 10px;
}

.verticalLine {
    border-left: 1px solid #CACBCD;
    padding-left: 40px;
}

.auctionBox {
    background-color: white;
    box-shadow: 2px 2px 5px #E0DFDF;
    margin-bottom: 0px;
    margin-top: 10px;
    border: 1px solid #E0DFDF;
    padding: 10px 20px 10px 20px;
}

.auctionletBox {
    background-color: white;
    box-shadow: 2px 2px 5px #E0DFDF;
    margin-bottom: 0px;
    margin-top: 0px;
    border: 1px solid #E0DFDF;
    border-top: 0px;
    padding: 10px 20px 10px 20px;
}

a.address {
    text-decoration: none;
}

.identity {
  font-weight: 900;
}

.timeRemaining {
  font-size: 80%;
}

.amount {
  font-weight: 900;
}

.separator {
  font-size: 80%;
}

.DAI, a.DAI {
    color: #82DACA;
    text-decoration: none;
}

.MKR, a.MKR {
    color: #8E87C4;
    text-decoration: none;
}

/* TODO temporary by @reverendus; to be removed later */
.MKP, a.MKP {
    color: #8E87C4;
    text-decoration: none;
}

.table {
    max-width: 600px;
    table-layout: fixed;
}

.table tr td:first-child {
  width: 160px;
  min-width: 160px;
  max-width: 160px;
}

div.box {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px #E0DFDF;

    margin: 0 auto;
}

div.row {
    width: 500px;
}

.message {
    color: #D0D0D0;
}

.todo {
  background-color: yellow;
}
